@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$purple : #613DC1;

.btn-purple{
    background-color: $purple;
    color:white;
}

.purple-font{
    color: $purple;
    text-decoration: none;
}

.text-general{
    font-family: 'Montserrat', sans-serif;
}

.f-500{
    font-weight: 500;
}

.desktopbG{
    background-color: pink;
}
// $small: 300px;
// $medium: 500px;

// .trial {
//   //some CSS
//   @media screen and (max-width: $small) {
//     //do Smth
//   }
//   @media (min-width: $medium) {
//     //do Smth
//     background-color: rgb(202, 40, 40) !important;
//     color:red !important;
//   }
// }

// .smth{
//     @media (min-width: 900px) {
//         &:not(.active) {
//           background-color: red !important; // or whatever
//         }
//       }
// }